<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help with Everest 
  <a href="http://www.everest.com/help">here</a>.
  To contact us, see the
  <a href="http://www.everest.com/contact">contact page</a>.
</p>