<div class="center hero-unit">
  <h3>Everest Juices</h3>

  <h2>
    Try one of our
    <a href="http://www.everest.com/">Everest Juices</a>.
  </h2>

  <%= link_to "Sign up now for a free juice!", signup_path, class: "btn btn-small btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Everest"), 'http://www.everestjuices.com/' %>