<footer class="footer">
  <small>
    <a href="http://www.everestjuices.com/">Everest Juices</a>
    Food For Thought
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.everestjuices.com/">Everest Juices</a></li>
    </ul>
  </nav>
</footer>